<%= image_tag "toronto_skyline.jpg" %>

<% if user_signed_in? %>



    <div>
        <%= form_for @destination, url: root_url do |f| %>
        <%
=begin%>
 # The url is "root_url" because at this stage we didn't establish the Desination routes. 
<%
=end%>
            <div>
            <p><%= f.text_field :arriving_to, placeholder: "Which destination would you like to explore next?" %></p>
            </div>
            <div>
            <p><%= f.submit "Let's go!"%>
            </div>
        <% end %>
    </div>

<% else !user_signed_in? %>

<% end %>

<div class="sug_place">
    <h3>Suggested Places</h3>
    <% @cities.each do |city| %>
        <div>
            <p><%= p city %></p>
        </div>
    <% end %>
</div>

<div class="info">
    <h3>More information and features</h3>
</div>